.users-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.amount-input{
    width: 200px;
    margin: 10px;
}

.submit-button{
    margin: 10px;
}

.search-subtitle{
    text-align: center;
}