<div class="row mt-5">
  <p class="search-subtitle">Generate your own random users. Just type the number between 1 and 200.</p>
  <form class="mt-5" [formGroup]="userForm" novalidate>
    <div class="users-search">
      <div class="form-group amount-input">
        <input
          type="number"
          class="form-control"
          name="amount"
          formControlName="amount"
          (keyup)="onSubmit()"
        />
        <div
          *ngIf="
            userForm.controls['amount'].invalid &&
            (userForm.controls['amount'].dirty ||
              userForm.controls['amount'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userForm.controls['amount'].errors?.required">
            You need to provide a number.
          </div>
          <div *ngIf="userForm.controls['amount'].errors?.min">
            Minimum number is 1
          </div>
          <div *ngIf="userForm.controls['amount'].errors?.max">
            Maximum number is 200
          </div>
        </div>
      </div>
      <div class="form-group submit-button">
        <button
          class="btn btn-success"
          type="button"
          [disabled]="userForm.invalid"
          (click)="onSubmit()"
        >
          Generate
        </button>
      </div>
    </div>
  </form>
</div>
