.user-container {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  margin: 10px;
  justify-content: center;
}

.user-name {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(175, 223, 255);
  width: 100%;
  margin: 15px 15px 0 15px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}

.user-email {
  width: 100%;
  text-align: center;
  margin: 0 15px 15px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(221, 241, 255);
  font-size: 22px;
  font-weight: 200;
  cursor: pointer;
}
